@model Blog.WebAPP.CORE.MVC.Models.RightSideBarViewModel
<div class="col-md-4">

    <!-- Search Widget -->
    <div class="card my-4">
        <h5 class="card-header">Search</h5>
        <div class="card-body">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Enter search term ...">
                <span class="input-group-append">
                    <button class="btn btn-secondary" type="button">Go!</button>
                </span>
            </div>
        </div>
    </div>

    <!-- Categories Widget -->
    <div class="card my-4">
        <h5 class="card-header">Categories</h5>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-group mb-0">
                        <li class="list-group-item">
                            <a asp-controller="Home" asp-action="Index">All</a>
                        </li>
                        @foreach (var category in Model.Categories)
                        {
                            <li class="list-group-item">
                                <a asp-controller="Home" asp-action="Index" asp-route-categoryId="@category.Id">@category.Name</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Side Widget -->
    <div class="card my-4">
        <h5 class="card-header">Most Read Articles</h5>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-group mb-0">
                        @foreach(var post in Model.Posts) {
                            <li class="list-group-item">
                                <a asp-controller="Post" asp-action="Detail" asp-route-id="@post.Id">@post.Title</a>
                                <div class="small text-muted">Posted on @post.Date.ToString("d") by <a href="#">@post.CreatedByName</a>  <small><i class="fa fa-eye"></i> @post.ViewsCount</small></div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>