@model IResult<IList<CategoryDto>>;
@*<th>
    <a onclick="showInPopup('@Url.Action("AddOrEdit","Transaction",null,Context.Request.Scheme)','New Transaction')" class="btn btn-success text-white"><i class="fas fa-random"></i> New Transaction</a>
</th>*@
@if (Model is { IsSuccess: true } && Model.Data.Any())
{
    <div class="card">
        <div class="card-header">
            <div style="display:flex" class="justify-content-end">
                @*<a href="/Document/Create?docTypeId=@Model" class="btn btn-outline-secondary "><span class="ti-plus mr-2"></span>Yeni</a>*@
                <a onclick="showInPopup('Category/Create')" class="btn btn-primary" >Create</a>
            </div>
        </div>
        <div class="card-body">
            <div class="single-table">
                <div class="table-responsive">
                    <table id="entitiesDataTable" style="width:100%" class="table table-hover progress-table text-center">
                        <thead>
                            <tr>
                                <th>Actions</th>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Is Deleted?</th>
                                <th>Is Active?</th>
                                <th>Recorded Date</th>
                                <th>Created By name</th>
                                <th>Modified Date</th>
                                <th>Modified By Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Data)
                            {
                                <tr role="row" name="@item.Id">
                                    <td>
                                        <a class='btn text-primary btn-sm btn-update' data-id="@item.Id"><i class='fa fa-edit'></i></a>
                                        <a class="btn text-danger btn-sm btn-delete" data-id="@item.Id"><i class="fa fa-trash"></i></a>
                                    </td>
                                    <td>@item.Id</td>
                                    <td>@item.Name</td>
                                    <td>@item.Description</td>
                                    <td>@item.IsDeleted</td>
                                    <td>@item.IsActive</td>
                                    <td>@item.CreatedDate</td>
                                    <td>@item.CreatedByName</td>
                                    <td>@item.ModifiedDate</td>
                                    <td>@item.ModifiedByName</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    @*<input type="button" class="btn btn-primary" id="addData" value="Add" onclick="AddModal();" />
        <div class="table-responsive mt-4">
            <table class="table table-bordered" id="entitiesDataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Actions</th>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Is Deleted?</th>
                        <th>Is Active?</th>
                        <th>Recorded Date</th>
                        <th>Created By name</th>
                        <th>Modified Date</th>
                        <th>Modified By Name</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Actions</th>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Is Deleted?</th>
                        <th>Is Active?</th>
                        <th>Created Date</th>
                        <th>Created By name</th>
                        <th>Modified Date</th>
                        <th>Modified By Name</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model.Data)
                    {
                        <tr name="@item.Id">
                            <td>
                                <a class='btn text-primary btn-sm btn-update' data-id="@item.Id"><i class='fa fa-edit'></i></a>
                                <a class="btn text-danger btn-sm btn-delete" data-id="@item.Id"><i class="fa fa-trash"></i></a>
                            </td>
                            <td>@item.Id</td>
                            <td>@item.Name</td>
                            <td>@item.Description</td>
                            <td>@item.IsDeleted</td>
                            <td>@item.IsActive</td>
                            <td>@item.CreatedDate</td>
                            <td>@item.CreatedByName</td>
                            <td>@item.ModifiedDate</td>
                            <td>@item.ModifiedByName</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>*@
}
else
{
    <div class="alert alert-danger mt-4">
        @if (Model is not null && Model.Errors.Any())
        {
            foreach (var error in Model.Errors)
            {
                @($"{error}")
                <br />
            }
        }
        <a class="alert-link" asp-area="Admin" asp-controller="Home" asp-action="Index">Go to Home</a>
    </div>
}
<div class="modal" tabindex="-1" role="dialog" id="form-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script asp-append-version="true">
        $(document).ready(function () {
            const dataTable = $('#entitiesDataTable').DataTable();
        })

        function AddModal() {
            $.get('Category/Create')
                .done(function (response) {
                    $('.modal-content').html(response);
                });
            $("#myModal").modal("show");
        }

        function AddData() {
            $.post('Category/Create',
                function (data) {
                    $('.modal-body').html(data);
                });
            $("#myModal").modal("show");
        }
    </script>
    @*<script src="~/js/admin/category.js" asp-append-version="true"></script>*@
}
