@model IResult<IList<UserDto>>;

@{
    ViewBag.Title = "User";
}

@if (Model is { IsSuccess: true })
{

    <div class=" card mb-2 mt-2">
        <div class="card-header">
            <div style="display:flex" class="justify-content-end">
                <a onclick="showInPopup('User/Create','Create')" class="btn btn-primary">Create</a>
            </div>
        </div>
        <div class="card-body">
            <div class="single-table">
                <div class="table-responsive">
                    <table id="dataTable" style="width:100%" class=" table table-hover text-center">
                        <thead>
                            <tr>
                                <th>Actions</th>
                                <th>Id</th>
                                <th>UserName</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Avatar</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Data.Any())
                            {
                                @foreach (var item in Model.Data)
                                {
                                    <tr role="row" name="@item.Id">
                                        <td>
                                            <a class='btn text-primary btn-sm btn-update' onclick="showInPopup('User/Update?id=@item.Id','Update')" data-id="@item.Id"><i class='fa fa-edit'></i></a>
                                            <a class="btn text-danger btn-sm btn-delete" onclick="jQueryAjaxDelete(this)" data-id="@item.Id"><i class="fa fa-trash"></i></a>
                                        </td>
                                        <td>@item.Id</td>
                                        <td>@item.UserName</td>
                                        <td>@item.Email</td>
                                        <td>@item.PhoneNumber</td>
                                        <td><img alt="@item.UserName" class="datatable-image" src="~/img/@item.Avatar" /></td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="alert alert-danger mt-4">
        @if (Model is not null && Model.Errors.Any())
        {
            foreach (var error in Model.Errors)
            {
                @($"{error}")
                <br />
            }
        }
        <a class="alert-link" asp-area="Admin" asp-controller="Home" asp-action="Index">Go to Home</a>
    </div>
}
<div id="form-modal" class="modal fade" role="dialog" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>
@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/admin/show-in-popup.js" asp-append-version="true"></script>
    <script src="~/js/admin/user-crud.js" asp-append-version="true"></script>
}
